$background-color: #fcfcfc;
$text-color: #000;
$font-family-regular: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "Source Code Pro";

$color-font: #2a2a2a;
$color-logo: #48ba1f;
$color-notification: #db2020;
$color-create: #4a90e2;
$color-background: #fafafa;

$color-notice-small: rgba($color-font, 0.3);

$main-background: $color-background;
$main-highlight: $color-logo;
$main-text: $color-font;

$options-box-background-color: lighten($color-background, 0.2);
$options-box-highlight: rgba($color-font, 0.3);

$error-text: $color-notification;
