@import "../../node_modules/modern-normalize/modern-normalize.css";
@import "./font-source-code-pro.scss";

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $main-background;
  color: $main-text;
  font-family: $font-family-regular;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  padding: 25px;
}

:global(#root) {
  height: 100%;
  width: 100%;
}

button {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
button:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}
button:active {
  position: relative;
  top: 1px;
}
