{
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": true
      }
    },
    {
      "files": ["*.js", "*.ts", "*.tsx"],
      "options": {
        "parser": "babylon"
      }
    }
  ]
}
