@import '../../../node_modules/modern-normalize/modern-normalize.css';
@import './font-source-sans-pro';
@import './font-source-code-pro';

* {
  margin: 0;
}

html,
body,
:global(#root) {
  height: 100%;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family-regular;
  font-weight: $font-weight-regular;
}
